@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEF3E2;
  --foreground: #171717;
  --main-yellow: #FAB12F;
  --main-orange: #FA812F;
  --main-red: #FA4032;
  --main-title-grey: #685f5c;
  --main-text-green: #2f3a32;
  --main-brown: #6c4446;
  --main-magenta: #4d0732;
  --main-red: #9e090e;
  --main-green: #164802;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
}

.almarai {
  font-family: var(--font-almarai);
}

.league_spartan {
  font-family: var(--font-league-spartan);
}

.lexend_deca {
  font-family: var(--font-lexend-deca);
}

.poppins {
  font-family: var(--font-poppins);
}

.main-header {
  background-color: var(--main-orange);
}

.main-call-to-action {
  background-color: #FEF3E2;
}

.cta-title {
  color: var(--main-text-green);
}

.cta-subline {
  color: var(--main-title-grey);
}

.main-how-it-works {
  background-color: #FEF3E2;
}

.htw-title {
  color: var(--main-text-green);
}

.htw-subtitle {
  color: var(--main-title-grey);
}

.card-title {
  color: var(--main-orange);
}

.card-descr {
  color: var(--main-title-grey);
}

.sc-spacer-top {
  height: 10.1rem;
  background: #FEF3E2;
}

.sc-spacer-bottom {
  height: 10.2rem;
  background: #FEF3E2;
}

.sc-title {
  color: var(--main-red);
}

.sc-card-title {
  color: var(--main-orange);
}

.sc-card-desc {
  color: var(--main-title-grey);
}

.stt-spacer-top {
  height: 8.1rem;
  background: #FEF3E2;
}

.stt-spacer-bottom {
  height: 8.2rem;
  background: #FEF3E2;
}

.stt-title {
  color: var(--main-brown);
}

.stt-subtitle {
  font-size: 1.3rem;
}

.stt-option-choose {
  color: var(--main-red);
}

.main-footer {
  background: var(--main-title-grey);
}
