@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEF3E2;
  --foreground: #171717;
  --main-yellow: #FAB12F;
  --main-orange: #FA812F;
  --main-red: #FA4032;
  --main-title-grey: #685f5c;
  --main-text-green: #2f3a32;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
}

.almarai {
  font-family: var(--font-almarai);
}

.league_spartan {
  font-family: var(--font-league-spartan);
}

.lexend_deca {
  font-family: var(--font-lexend-deca);
}

.main-footer {
  background: var(--main-text-green);
}
